<!-- Contact us page is created by displaying our company's mail id and contact numbers
 for users to contact us anytime. 
    Also, if they have any query or feedback for us,  they could message us by entering
their name, email and message for us in the respective input fields-->

<body>
    <div class="container">
        <div class="content">
          <div class="left-side">
                <div class="phone details">
                    <i class="fa fa-phone-square" aria-hidden="true" id="icon-flipped" title="Dial to Reach us"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 7530078343</div>
                    <div class="text-two">+91 6384171533</div>
                </div>
                <div class="email details">
                    <i class="fa fa-envelope-open-text" id="email-style" title="Connect with us via Mail"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">meenapriyadharshini02@gmail.com</div>
                    <div class="text-two">rvmkg02@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Feel Free to CONTACT US...</div><br>
                <p class="topline">If you have any queries, you can send us message from here. <br> Also, It will be greatly helpful if you drop a feedback, so that we could improve our services!</p>
                <form action="#">
                    <div class="input-box">
                        <label>Your Name : </label>
                        <input type="text" placeholder="Enter your name" name="username" [(ngModel)]="username" required>
                    </div><br>
                    <div class="input-box">
                        <label>Your Mail address : </label><br>
                        <input type="email" placeholder="Enter your email" name="email" [(ngModel)]="email"required>
                    </div><br>
                    <div class="input-box message-box">
                        <label>Your Message for Us ? </label>
                        <textarea placeholder="Enter message here" name="message" [(ngModel)]="message" rows="5" cols="23" maxlength="500"></textarea>
                    </div>
                    <br><br>
                    <div class="button">
                        <button class="btn btn-info" type="submit" (click)="mailSentConfirmation()"> Send Now </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
