<!-- Each website have a about page and that is being designed here for my website
      containing few details on our services -->

<section>
    <div class = "image">
       <img src="..\..\assets\background1.jpg">
    </div>

    <div class = "content">
        <br>
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>Our Services have been improvising since 2022. We have been providing various services and guidance for students from grade 6 - 12. The services include Live training, live discussion and recorder sessions for future reference with weekly doubt clearing sessions too.</p>
        <ul class = "links">
            <li><a (click)="confirmService()" title="View services">service</a></li>
            <div class = "vertical-line"></div>
            <li><a href = "contact" title="contact us">contact</a></li>
        </ul>
        <ul class = "icons">
            <li>
                <a href="https://github.com/MEENA-2" target="_blank" title="view github account"><i class="fa-brands fa-github fa-flip"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/meena-priyadharshini-s-r-2619b2202/" target="_blank" title="view linkedin profile"><i class="fa-brands fa-linkedin fa-fade"></i></a>
            </li>
        </ul>
    </div>
</section><br><br>