<!-- When a user wants to logout, they could simply click on logout button.
    When clicked it will show a popup of confirmation to proceed to logout.
    once clicked OK in popup confirmation, the user will have an option to go to home page
    or to login again. -->

<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title text-center">Thank you!</h5><br>
      <p class="card-text">We are very happy that you visited our website.</p><br>
      <p class="card-text"> Hope to Welcome you Again soon...</p>
      
      <button type="button" class="btn btn-secondary">
        <a href="login" title="Go to Home Page"> Go Back to Home !</a>
      </button>
    </div>
  </div>