<!-- The Profile card of the Owner of the website is brought to users view.
     Extra styles like card and card-flip is used to show some differentiation -->

<body>
  <div class="card">
    <div class="left-container">
      <br>
      <img src="..\..\assets\MEENA PRIYADHARSHINI S R.jpg" alt="Profile Image">
      <h2 class="gradienttext">Meena Priyadharshini S R</h2>
      <p>B.E(EEE) Graduate</p>
      <p>Java Full Stack Developer</p>
      <div>
        <ul class = "icons">
          <li>
              <a href="https://github.com/MEENA-2" target="_blank" title="view my github account"><i class="fa-brands fa-github fa-flip"></i></a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/meena-priyadharshini-s-r-2619b2202/" target="_blank" title="view my linkedin page"><i class="fa-brands fa-linkedin fa-fade"></i></a>
          </li>
      </ul>
      </div>
    </div>

    <div class="right-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"><br>
              <h3 class="gradienttext">Profile Details</h3>
              <table>
                  <tr>
                <td>Name :</td>
                <td>Meena Priyadharshini S R</td>
                </tr>
                  <tr>
                    <td>D.O.B :</td>
                    <td>02 | 01 | 2001</td>
                  </tr>
                  <tr>
                    <td>Mobile :</td>
                    <td>+91 7530078343</td>
                  </tr>
                  <tr>
                    <td>Email :</td>
                    <td>meenapriyadharshini02@gmail.com</td>
                  </tr>
                <tr>
                    <td>Passed Out year :</td>
                    <td>2022</td>
                  </tr>
                  <tr>
                    <td>Skillset: </td>
                    <td>Java, MySQL, JDBC, Hibernate, Spring, Angular, HTML/CSS/Js</td>
                  </tr>
              </table>
              <br>
              <div class="credit">Hover to <span style="color:rgb(223, 10, 10);font-size:20px;">Flip </span>to know more...</div>
          </div>
          <div class="flip-card-back"><br>
            <p> Detailed Info </p>
            <div class="gradienttext">
              <ul>
                <li> First class graduate with aggregate of 84.72% from B.E(EEE) field </li>
                <li> Passionate to learn many new things that could be useful in applying in real life</li>
                <li> Interested in software developmemnt </li>
                <li> Done self projects as console based application and by using Hibernate framework to store data in MySQL database on student Management system</li>
                <li> The above project is now developed into this responsive website using angular framework </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
