<!-- Home page is the first apge appear when a website is opened.
    The contents of webpage are designed here and is styled using home-component css -->

<main>
    <div class="big-wrapper light">
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="..\..\assets\pic.jpg" alt="Logo" />
                    <h4>Shine With Us!</h4>
                </div>
            </div>
        </div>

        <div class="showcase-area">
            <div class="container">
                <div class="left">
                    <div class="big-title">
                        <h3>Future Leaders are Emerging...</h3>
                        <h3>And We help them to learn by practically experimenting and understanding !!! </h3>
                    </div>
                    <p class="text">
                        Try out our services to learn and explore more!
                    </p>
                </div>

                <div class="right">
                    <img src="..\..\assets\background2.jpeg" alt="Person Image" class="person" />
                </div>
            </div>
        </div>

      <!-- <div class="bottom-area">
        <div class="container">
          <button class="toggle-btn">
            <i class="far fa-moon"></i>
            <i class="far fa-sun"></i>
          </button>
        </div>
      </div> -->
    </div>
</main>
